<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Today was a good day.</p>
        <p>Some people nice to me.</p>
    </div>

    <%- include("./partials/footer.ejs") %>

</body>
</html>